[submodule ".agents/skills/moonbit-skills"]
	path = .agents/skills/moonbit-skills
	url = https://github.com/moonbitlang/skills.git
	branch = master
[submodule "window"]
	path = window
	url = https://github.com/wzzc-dev/window.git
	branch = moui-support
[submodule "examples/deepseek_harness_desktop"]
	path = examples/deepseek_harness_desktop
	url = https://github.com/moui-mbt/deepseek-harness-desktop.git
	branch = main
