[submodule ".agents/skills/moonbit-skills"]
	path = .agents/skills/moonbit-skills
	url = https://github.com/moonbitlang/skills.git
	branch = master
[submodule "window"]
	path = window
	url = https://github.com/wzzc-dev/window.git
	branch = moui-support
