/target/
/.moon/
/.repos/
*.log
*.asan
*.tmp
.DS_Store
.mooncakes/
_build/
artifacts/
.skia-cache/
dist/
.local_repos/
.local_deps/
.tools/
.claude/
.trae/
.idea/
.vscode/
website/web_wasm/docs/*
trace.json
.codebuddy/settings.local.json
.workbuddy/
.openseek/sessions/mo-workbench-1/openseek_session-mo-workbench-1.jsonl
.openseek/sessions/mo-workbench-1/session.lock
.kilo/*