/target/
/.moon/
/.repos/
*.log
*.asan
*.tmp
.DS_Store
.mooncakes/
_build/
**/.moui/dev-state.json
**/.moui/dev-status.json
artifacts/
.skia-cache/
dist/
.local_repos/
.local_deps/
.tools/
.claude/
.zcode/
.trae/
.idea/
.vscode/
website/web_wasm/docs/*
trace.json
.codebuddy/settings.local.json
.workbuddy/
.openseek/sessions/*
.kilo/*
.mo_workbench/settings.json
.gradle/
examples/*/android_app/build/
examples/*/android_app/app/.cxx/
examples/*/android_app/app/build/
.playwright-cli/*
output/*
examples/showcase/harmonyos_app/entry/.cxx/*
build/wechat/*
.agnes/*
.freebuff/*
deliverables/*
.reasonix/
reasonix.toml
*.obj
tmp/*
examples/mo_workbench/macos_skia/.mo_workbench/settings.json
.agent-teams/*