<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:allowBackup="false"
        android:label="${mouiAppLabel}"
        android:theme="@style/AppTheme">
        <provider
            android:name="${mouiClipboardProviderClass}"
            android:authorities="${applicationId}.moui.clipboard"
            android:exported="false"
            android:grantUriPermissions="true" />
        <activity
            android:name="${mouiActivityClass}"
            android:configChanges="density|keyboard|keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:resizeableActivity="true">
            <meta-data
                android:name="dev.wzzc.moui.NATIVE_LIBRARY"
                android:value="${mouiNativeLibrary}" />
            <meta-data
                android:name="dev.wzzc.moui.SUPPORTS_SCROLL"
                android:value="${mouiSupportsScroll}" />
            <meta-data
                android:name="dev.wzzc.moui.FULLSCREEN"
                android:value="${mouiFullscreen}" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
